@media (max-width:1200px){
    .visa-sidebar .visa-sidebar-header-main {
        width: 103%;
    }
}
@media (max-width:991px){
    .hero-section .searchbar-main {
        width: 55%;
    }
    .step-apply-card-main::before {
        display: none;
    }
    .step-apply-card-main {
        text-align: center;
    }
    .review-modal .modal-dialog {
        max-width: 80%;
    }
    /* page heading section start */
    .page-heading .heading-section-heading>* {
        font-size: 25px;
        line-height: 32px;
    }
    /* page heading section end */
}
@media (max-width:767px){
    /* common start */
    .container {
        max-width: 100% !important;
    }
    .heading-main .heading {
        font-size: 19px;
        padding-left: 25px;
        line-height: 28px;
    }
    .heading-main .heading::before {
        top: 5.5px;
        height: 17.5px;
        width: 17.5px;
    }
    .common-gap {
        margin-top: 40px;
    }
    .visa-heading-main .visa-heading {
        font-size: 18px;
        padding-left: 24px;
    }
    .visa-heading-main .visa-heading::before {
        top: 4px;
        height: 17px;
        width: 17px;
    }
    .visa-gap {
        margin-top: 35px;
    }
    /* common end */

    /* navbar start */
    .navbar {
        height: auto;
    }
    .navbar .navbar-brand {
        height: 40px;
    }
    .navbar .nav-whatsapp img {
        height: 24px;
    }
    /* navbar end */

    /* hero section start */
    .hero-section {
        padding: 90px 0 105px;
    }
    .hero-section .hero-title {
        font-size: 16px;
    }
    .hero-section .hero-heading {
        font-size: 24px;
        line-height: normal;
        margin-top: 10px;
    }
    .hero-section .searchbar-main {
        width: 80%;
    }
    .searchbar-main .searchbar {
        height: 50px;
    }
    /* hero section end */

    /* country section start */
    .country-section {
        padding-top: 70px;
        padding-inline: 3px;
    }
    .country-card .country-name {
        font-size: 16px;
    }
    .country-card .country-card-date {
        margin-block: 7px;
    }
    .country-card .country-img {
        height: 210px;
    }
    /* country section end */

    /* visa document section start */
    .visa-docs-card {
        padding: 8px 25px;
    }
    .visa-docs-card .visa-docs-card-icon {
        font-size: 17px;
    }
    .visa-docs-card .visa-docs-card-title  {
        font-size: 14px;
    }
    /* visa document section end */

    /* step section start */
    .step-apply-main {
        gap: 40px;
    }
    .step-apply-card .step-apply-content {
        height: 250px;
        width: 250px;
    }
    .step-apply-card .step-card-count-main {
        height: 95px;
        width: 95px;
    }
    .step-apply-card .step-card-count {
        height: 75px;
        width: 75px;
        font-size: 17px;
        line-height: 23px;
    }
    .step-apply-card .step-apply-card-title {
        font-size: 16px;
    }
    .step-apply-card .step-apply-card-detail {
        font-size: 14px;
    }
    /* step section end */

    /* review section start */
    .review-detail-card {
        padding: 15px;
    }
    .review-detail-card .review-detail-card-heading {
        font-size: 24px;
    }
    .review-detail-card .review-detail-card-title {
        font-size: 14px;
        margin-top: 2px;
    }
    .review-detail-card .review-detail-card-clients {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        gap: 12px;
    }
    .review-detail-card .review-detail-userimg {
        height: 45px;
        width: 45px;
        border-width: 2px;
    }
    .review-detail-card .review-detail-total-client {
        font-size: 20px;
    }
    .review-detail-card .review-detail-client-title {
        font-size: 14px;
        white-space: nowrap;
    }
    .review-detail-card .review-detail-card-img {
        height: 40px;
    }
    .review-detail-card .review-detail-card-google-logo {
        height: 30px;
    }
    .review-detail-card .review-detail-card-rating-title {
        font-size: 23px;
    }
    .review-main-card {
        padding: 12px;
    }
    .review-card .reviewer-img {
        height: 65px;
        width: 65px;
    }
    .review-card .review-card-title {
        font-size: 16px;
        margin-top: 6px;
    }
    .review-card .review-card-para p {
        font-size: 14px;
    }
    .review-main-card::after {
        height: 50px;
        width: 60px;
        top: 3%;
    }
    .review-main-card .review-slider-btn {
        height: 33px;
        width: 33px;
        font-size: 14px;
    }
    /* review section end */

    /* why choose us section start */
    .why-choose-card .why-choose-card-title {
        font-size: 16px;
    }
    .why-choose-card .why-choose-card-detail {
        font-size: 14px;
        line-height: 23px;
        margin-top: 5px;
    }
    .why-choose-card .why-choose-card-icon {
        height: 35px;
        width: 70px;
    }
    .why-choose-card .why-choose-card-icon img {
        height: 100%;
        width: 100%;
    }
    /* why choose us section end */

    /* footer start */
    .footer .footer-inner {
        padding-block: 30px;
    }
    .footer .footer-list {
        gap: 5px;
        margin-top: 15px;
    }
    .footer .footer-social-list {
        margin-top: 10px;
        gap: 14px;
    }
    .footer .footer-social-link {
        font-size: 16px;
    }
    .footer .footer-para {
        font-size: 14px;
    }
    .copyright-section {
        padding-block: 14px;
    }
    /* footer end */

    /* visa main section start */
    .visa-hero-section .visa-hero-img {
        height: auto;
    }
    .visa-hero-section .visa-hero-heading-main {
        padding: 7px 12px;
        gap: 8px;
    }
    .visa-hero-section .visa-hero-heading-main svg {
        height: 20px;
        width: 22px ;
    }
    .visa-hero-section .visa-hero-heading {
        font-size: 20px;
    }
    .visa-detail-section .authorized-title .authorized-icon {
        height: 40px;
        width: 40px;
    }
    .visa-detail-section .authorized-title .authorized-icon img {
        height: 20px;
    }
    .visa-detail-section .authorized-title {
        height: 32px;
        font-size: 12px;
        gap: 0;
    }
    .visa-detail-section .authorized-title::before {
        border-width: 16px;
        right: -30px;
        z-index: -1;
        height: 32px;
    }
    .visa-hero-section .guarantee-title {
        font-size: 13px;
    }
    .visa-hero-section .guarantee-title img {
        height: 18px;
        
    }

    .visa-price-tab {
        margin-top: 15px;
        padding-bottom: 15px;
    }
    .visa-price-tab .nav-link {
        padding: 8px 15px;
        font-size: 13px;
    }
    .visa-price-card .visa-price-detail-main {
        gap: 15px;
    }
    .visa-price-card .visa-price-details {
        font-size: 13px;
    }
    .visa-price-card .visa-price-title {
        font-size: 17px;
    }
    .visa-price-card .visa-price-card-rate {
        font-size: 30px;
    }
    .visa-partner-card {
        padding: 10px;
    }
    .timeline-main {
        margin-top: 20px;
    }
    .timeline-main li {
        padding-left: 18px;
        gap: 15px;
        padding-bottom: 23px;
    }
    .timeline-main .timeline-detail-card {
        padding: 13px;
    }
    .timeline-detail-card .timeline-detail-heading {
        font-size: 16px;
    }
    .timeline-detail-card .timeline-detail-para p {
        font-size: 14px;
        line-height: 26px;
    }
    .statistics-data-card .statistics-data-card-header {
        padding: 12px;
    }
    .statistics-data-card .form-select {
        font-size: 14px ;
    }
    .statistics-data-card .statistics-data-card-heading {
        font-size: 17px;
    }
    .visa-reviews-section .visa-reviews-wrapper {
        margin-top: 20px;
        gap: 15px;
    }
    .visa-review-data-card {
        padding: 15px;
        gap: 14px;
    }
    .visa-review-data-card .visa-review-data-img {
        height: 48px;
        width: 48px;
    }
    .visa-review-data-card .visa-review-data-rating {
        font-size: 32px;
    }
    .visa-review-card .visa-review-card-heading {
        font-size: 16px;
        margin-top: 12px;
    }
    .visa-review-card .visa-review-details p {
        font-size: 14px;
        line-height: 25px;
    }
    .visa-review-card {
        padding-bottom: 15px;
    }
    .visa-review-card .visa-reviewer-name {
        font-size: 15px;
    }
    .visa-reviews-section .visa-review-btn {
        font-size: 15px;
    }
    .visa-review-card .visa-review-date {
        font-size: 13px;
    }
    .visa-review-card .visa-review-list {
        gap: 3px;
    }
    .visa-review-card .visa-review-list i {
        font-size: 13px;
    }

    .rejection-card .rejection-title {
        font-size: 17px;
    }
    .rejection-card .rejection-text {
        line-height: 24px;
    }
    .visa-faq-section .accordion-button {
        padding: 13px;
        font-size: 16px;
    }
    .visa-faq-section .accordion-button::before {
        height: 24px;
        width: 24px;
        font-size: 12px;
    }
    .visa-faq-section .accordion-body {
        padding: 13px;
    }
    .visa-faq-section .accordion-body p {
        font-size: 14px;
        line-height: 27px;
    }
    .visa-sidebar .visa-sidebar-icon img {
        height: 32px;
    }
    .visa-sidebar {
        padding: 12px;
        padding-top: 75px;
        width: 93%;
        margin-inline: auto;
    }
    .visa-sidebar .visa-sidebar-icon {
        margin-right: 10px;
    }
    .visa-sidebar .visa-sidebar-header-main {
        width: 107%;
    }
    .visa-sidebar .visa-sidebar-header .visa-sidebar-header-title {
        font-size: 16px;
        margin-bottom: 1px;
    }
    .visa-sidebar .visa-sidebar-heading {
        font-size: 18px;
    }
    .visa-sidebar .nav-link {
        font-size: 13px;
    }
    .visa-sidebar .visa-sidebar-price-main {
        margin-top: 18px;
        padding-top: 15px;
    }
    .visa-sidebar .visa-sidebar-title {
        font-size: 16px;
    }
    .visa-sidebar .visa-sidebar-price-title {
        font-size: 16px;
    }
    .visa-sidebar .visa-sidebar-detail-price {
        font-size: 15px;
    }
    .visa-sidebar .visa-sidebar-total-price {
        font-size: 17px;
    }
    .visa-sidebar .visa-sidebar-btn-main {
        margin-top: 15px;
    }
    .visa-sidebar .visa-sidebar-detail-title {
        font-size: 14px;
    }
    .visa-sidebar .visa-sidebar-btn {
        font-size: 15px;
    }


    .country-time-card {
        padding: 10px;
        gap: 6px;
    }
    .country-time-card .country-time-icon {
        height: 45px;
        width: 45px;
    }
    .country-time-card .country-time-icon img {
        height: 23px;
    }
    .country-time-card .country-time-icon-main {
        height: 60px;
        width: 60px;
    }
    .country-time-card .country-time {
        font-size: 15px;
    }
    .review-modal .modal-dialog {
        max-width: 100%;
    }
    .review-modal .modal-title {
        font-size: 18px !important;
    }
    .review-modal .btn-close {
        background-size: 13px;
    }
    .review-modal .modal-header,
    .review-modal .modal-body {
        padding: 12px;
    }
    /* visa main section end */

    /* page heading section start */
    .page-heading {
        height: 250px;
        padding-top: 60px;
    }
    .page-heading .heading-section-heading>* {
        font-size: 21px;
        line-height: 32px;
    }
    .page-heading .breadcrumb {
        gap: 8px;
    }
    .page-heading .breadcrumb .breadcrumb-item {
        font-size: 14px;
    }
    .page-heading .breadcrumb .breadcrumb-item a {
        gap: 5px;
    }
    /* page heading section end */

    /***** eligible country search start *****/
    .visa-search-card {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        background: #f7f7f7;
        padding: 15px;
        border-radius: 13px;
    }
    .visa-search-card .serach-heading-main {
        gap: 5px;
    }
    .visa-search-card .serach-heading-main img {
        height: 18px;
    }
    .visa-search-card .serach-heading {
        font-size: 19px;
    }
    .visa-search-card .hero-btn {
        height: 45px;
        font-size: 15px;
    }
    .visa-search-card .hero-label {
        margin-bottom: 5px;
    }
    .visa-search-inner {
        margin-top: 30px;
    }
    /***** eligible country search section end *****/

    /***** eligible country section start *****/
    .eligible-country-card {
        padding: 11.5px;
        font-size: 14px;
    }
    .eligible-country-card::before {
        font-size: 12px;
    }
    /***** eligible country section end *****/

    /***** content section start *****/
    .content-card {
        padding: 12px;
    }
    .content-card p {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 8px;
    }
    /***** content section end *****/

    /***** price section start *****/
    .price-tab {
        margin-top: 18px;
        padding-bottom: 20px;
    }
    .price-tab .nav-link {
        font-size: 14px;
    }

    .pricing-card .pricing-card-heading {
        font-size: 15px;
    }
    .pricing-card .dubai-visa-price {
        font-size: 32px;
    }
    .pricing-card .dubai-visa-price sup {
        font-size: 17px;
    }
    .pricing-card .price-card-data {
        gap: 0px;
        padding-block: 7px;
    }
    .pricing-card .price-card-data .price-check {
        height: 16px;
        min-width: 16px;
        max-width: 16px;
        font-size: 11px;
    }
    .pricing-card .price-apply-btn {
        font-size: 15px;
    }
    /***** price section end *****/


    /***** visa country hero section start *****/
    .country-search-section {
        height: auto;
        padding:90px 0 40px;
    }
    .country-search-section .visa-search-card {
        padding-top: 45px ;
    }
    .country-search-section .visa-search-rating-card .visa-search-rating-img {
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .country-search-section .visa-search-rating-card .visa-search-rating-img img {
        height: 100%;
    }
    .country-search-section .visa-search-rating-card {
        padding: 6px 12px;
        gap: 5px;
        border-radius:0 0 6px 6px;
    }
    .country-search-section .visa-search-rating-card .visa-search-rating-title {
        font-size: 16px;
    }
    .country-search-section .visa-search-inner{
        margin-top: 25px;
    }
    /***** visa country hero section end *****/


    /***** form section start *****/
    .form-section .form-section-heading-main {
        gap: 5px;
    }
    .form-section .form-section-heading-main img {
        height: 18px;
    }
    .form-section .form-section-heading {
        font-size: 20px;
    }
    .form-card{
        padding: 15px;
    }
    .form-card .form-card-heading-main {
        gap: 7px;
    }
    .form-card .form-card-heading-main img {
        height: 18px;
    }
    .form-card .form-card-heading {
        font-size: 20px;
    }
    .form-card .form-card-title {
        font-size: 16px;
        margin-top: 25px;
    }
    .form-card .visa-form-price {
        font-size: 17px;
    }
    .form-input-group .input-label {
        font-size: 14px;
    }
    .form-input-group .form-input {
        height: 42px;
        font-size: 14px;
    }
    .form-input-group .select2-selection {
        height: 42px !important;
    }
    .form-input-group .select2-selection__rendered {
        font-size: 14px !important;
    }
    .form-input-group .select2-selection__arrow {
        height: 42px !important;
        top: 0 !important;
    }
    .form-btn-main {
        margin-top: 30px;
        gap: 15px;
    }
    .form-btn {
        font-size: 14px;
    }
    .dropzone .dropzone-title {
        font-size: 14px;
    }
    .form-card .form-note-card {
        font-size: 12.5px;
        line-height: 24px;
    }
    /***** form section end *****/

    /***** contact section start *****/
    .contact-sidebar {
        padding: 15px;
    }
    .contact-sidebar .contact-sidebar-link {
        gap: 10px;
        margin-bottom: 12px;
        padding-bottom: 12px;
    }
    .contact-sidebar .contact-sidebar-heading {
        font-size: 16px;
        line-height: normal;
    }
    .contact-sidebar .contact-sidebar-link-icon {
        font-size: 18px;
    }
    .contact-sidebar .contact-sidebar-link-subtitle {
        font-size: 13px;
    }
    .contact-sidebar .contact-sidebar-link-title {
        font-size: 15px;
    }
    .contact-section .contact-form-heading {
        font-size: 20px;
    }
    /***** contact section end *****/


    /* payment detail section start */
    .payment-detail-card .payment-detail-header {
        padding: 10px;
    }
    .payment-detail-card .payment-card-heading {
        font-size: 17px;    
    }
    .payment-detail-card .payment-detail-subheading {
        font-size: 12px;
    }
    .payment-detail-card .edit-btn {
        font-size: 13px;
    }
    .payment-detail-card .payment-detail-body {
        padding: 12px;
    }
    .payment-detail-card .payment-check-card {
        gap: 8px;
        padding: 8px;
    }
    .payment-detail-card .payment-check-card .payment-check-price {
        font-size: 14px;
    }
    .payment-detail-card .payment-check-card .payment-check-title {
        font-size: 15px;
    }
    .payment-detail-card .payment-check-card .payment-check-para {
        font-size: 13px;
    }
    /* payment detail section end */

     
    /***** add another modal start *****/
    .azerbaijan-addanother-modal .modal-dialog {
        max-width: 90%;
    }
    .azerbaijan-addanother-modal .modal-title {
        font-size: 16px;
    }
    /***** add another modal end *****/

    /***** track section start *****/
    .track-section {
        padding-block: 40px;
        height: auto;
        background-image: none;
        background-color: var(--theme1);
    }
    .track-section .track-heading-main img {
        height: 17px;
        margin-top: -2px;
    }
    .track-section .track-heading {
        font-size: 18px;
    }
    .track-section .track-title {
        line-height: 25px;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .track-section .track-inner-card {
        padding: 12px;
    }
    .track-section .track-group {
        height: 45px;
        margin-top: 4px;
    }
    .track-section .track-group .track-input {
        font-size: 14px;
    }
    .track-section .track-group .track-btn {
        font-size: 14px;
        padding-inline: 15px;
    }
    /***** track section end *****/
}

@media (max-width:567px){
    .form-btn {
        width: 100%;
       justify-content: center;
    }
     /***** add another modal start *****/
     .azerbaijan-addanother-modal .modal-dialog {
        max-width: 100%;
    }
    .azerbaijan-addanother-modal .modal-title {
        font-size: 16px;
    }
    /***** add another modal end *****/
}